@import "tailwindcss";

@theme inline {
  --color-soft-white: #FFFAF5;
  --color-warm-amber: #E09145;
  --color-warm-amber-hover: #c97e3a;
  --color-soft-peach: #F2B880;
  --color-deep-espresso: #2C1E13;
  --color-light-sand: #FBE8D3;
  --color-warm-ivory: #FFF8F0;
  --color-warm-gray: #8C7B6B;

  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-inter);

  --animate-marquee: marquee 90s linear infinite;
  --animate-marquee-reverse: marquee-reverse 90s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--color-soft-white);
  color: var(--color-deep-espresso);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}